.form{
    width:250px;
    height:50px;
    line-height:30px;
    display:inline-block;
    position: relative;
    margin:0 0 3vh 0;
    border:solid 2px #248;
    padding: 8px 0 8px 17px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #fff 50%, #072A24 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: all .2s ease 0s;
    text-decoration: none;
}

.form:hover{
    background-position: -100% 0;
    color: #fff ;
}